server/drm/RGS/admin/rgs_metadata.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 rel. 4 U (http://www.xmlspy.com) by PONTOCOM (COM) -->
<!--W3C Schema generated by XMLSPY v5 rel. 4 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="album" type="xs:string"/>
	<xs:element name="band">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="name"/>
				<xs:element ref="formation_date"/>
				<xs:element ref="num_elements"/>
				<xs:element ref="element" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="band_contact"/>
				<xs:element ref="short_description"/>
				<xs:element ref="short_history"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="band_contact" type="xs:string"/>
	<xs:element name="content">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="type"/>
				<xs:element ref="filesize"/>
				<xs:element ref="filetype"/>
				<xs:element ref="content_specific"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="content_specific">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="title"/>
				<xs:element ref="album"/>
				<xs:element ref="music_category"/>
				<xs:element ref="band"/>
				<xs:element ref="music_lenght"/>
				<xs:element ref="recording_year"/>
				<xs:element ref="recording_place"/>
				<xs:element ref="lyrics"/>
				<xs:element ref="other_info"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="element">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="name"/>
				<xs:element ref="role"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="filesize" type="xs:string"/>
	<xs:element name="filetype" type="xs:string"/>
	<xs:element name="formation_date" type="xs:string"/>
	<xs:element name="lyrics" type="xs:string"/>
	<xs:element name="music_category" type="xs:string"/>
	<xs:element name="music_lenght" type="xs:string"/>
	<xs:element name="name" type="xs:string"/>
	<xs:element name="num_elements" type="xs:string"/>
	<xs:element name="other_info" type="xs:string"/>
	<xs:element name="recording_place" type="xs:string"/>
	<xs:element name="recording_year" type="xs:string"/>
	<xs:element name="role" type="xs:string"/>
	<xs:element name="short_description" type="xs:string"/>
	<xs:element name="short_history" type="xs:string"/>
	<xs:element name="title" type="xs:string"/>
	<xs:element name="type" type="xs:string"/>
</xs:schema>
